*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
section{
    width: 100%;
    height: 100vh;
    
    background-size: cover;
    background-position: center;
}
section nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0 0 10px blue;
    background: wheat;
    position: fixed;
    left: 0;
    z-index: 100;
}
section nav .logo img{
    width: 50px;
    cursor: pointer;
    margin: 8px 0;
}
section nav ul{
    list-style: none;

}
section nav li{
    display: inline-block;
    padding: 0 10px;
}
section nav li a{
    text-decoration: none;
    color: #000;
}
section nav li a:hover{
    color: skyblue;
}
section nav .social_icon i{
    margin: 0 5px;
    font-size: 18px;
}
section nav .social_icon i{
    color: rgb(22, 23, 23);
    cursor: pointer;
}
section nav .social_icon i:hover{
    color: rgb(228, 28, 28);
    cursor: pointer;
}
section .main{
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    top: 10%;
}
section .main_tag h1{ 
    position: relative;
    font-size: 300%;
    top: 150px;
    left: 25px; 
}
section .main_tag h1 span{
    color: brown;
}
section .main_tag p{
    width: 640px;
    text-align: justify;
    line-height: 22px;
    position: relative;
    top: 175px;
    left: 25px;
}
 .main_btn{
    background: rgba(183, 28, 28, 0.344);
    padding: 10px 20px;
    position: relative;
    top: 250px;
    left: 25px;
    color: blueviolet;
    text-decoration: none;

}
 .main_img img{
    width: 50%;
    position: relative;

    
    left: 700px;
}
.services{
    width: 100%;
    height: auto;
    margin: 35px 0;

}
 .services_box{
    width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    

}
.services .services_box .services_card{
    text-align: center;
    width: 310px;
    height: auto;
    box-shadow: 0 0 8px rgb(152, 135, 235);

}
 .services_box .services_card i{
    color: aqua;
    font-size: 40px;
   margin-bottom: 15px;
   cursor: pointer;
}
.services_box .services_card h3{
    margin-bottom: 10px;

}
/* about */
 .about{ 
    width: 100%;
    height: auto;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;

 }
 .about .about_image img:hover{
    width: 300px;
    
 }
    

.about .about_tag h1{
    font-size: 50px;
    position: relative;
    bottom: 35px;
}
.about_tag p{
    line-height: 22px;
    width: 650px;
    text-align: justify;
    margin-bottom: 15px;
}
.about_tag .about_btn{
    padding: 10px 20px;
    background: brown;
    color: aliceblue;
    text-decoration: none;
    position: relative;
    top: 50px;
}
     


/* books */
.featured_books{
    width: 100%;
    height: 100vh;
    padding: 70px 0;

}
.featured_books h1{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    font-size: 45px;
}
.featured_books .featured_book_box{
    width: 95%;
    height: 60vh;
    margin: 0 auto;
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    overflow: hidden;
    overflow-x: scroll;
}
  
.featured_books .featured_book_box .featured_book_card{
    width: 250px;
    height: 420px;
    text-align: center;
    padding: 5px;
    border: 1px solid #919191;
    margin: auto 20px;
}
   .featured_book_card:hover{
   
    box-shadow: 0 0 5px skyblue;
}
 .featured_book_card:hover{
    width: 150px;
}
.featured_book_tag h2{
    margin: 9px;

}
.featured_book_tag .writer{
    color: #1ce4a8;
}
.featured_book_card .featured_book_tag .categories{
    color: maroon;
    
}
/* footer */
footer{
    width: 100%;
    background: whitesmoke;

}
footer .footer_main{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
footer .footer_main .tag{
   
    margin: 10px 0;
}
footer .footer_main .tag img{
    width: 50px;
    margin-bottom: 10px;
}
footer .footer_main .tag img{
    width: 100px;
   margin-bottom: 10px;
}
footer .footer_main .tag p{
    width: 250px;
    line-height: 22px;
    text-align: justify;
}
footer .footer_main .tag {
   font-size: 25px;
   margin: 25px 0;
   color: #15b6da;

}
footer .footer_main .tag a{
    display: block;
    color: rgb(27, 145, 200);
    text-align: none;
    margin: 10px 0;
}
footer .footer_main .tag i{
    margin-right: 10px;
}
footer .footer_main .tag .socail_link i{
    margin: 0 5px;

}
footer .footer_main .tag .search_bar{
    width: 230px;
    height: 30px;
    background: whitesmoke;
    border-radius: 25px;

}
footer .footer_main .tag .search_bar input{
    width: 200px;
    padding: 2px 0;
    position: relative;
    top: 17px;
    left: 6%;
    border: none;
    outline: none;
    font-size: 13px;
    background: none;
}
footer .footer_main .tag .search_bar button{
    padding: 7px 15px;
    background-color: brown;
    border: none;
    margin-top: 15px;
    border-radius: 25px;
    color: #fff;
    cursor: pointer;
}
footer.end{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    color: #000;
}
footer .end span{
    color: #0ea3bd;
    margin-left: 10px;
}

